{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
    <h1>Editer le servant</h1>
       {{include ('admin/servant/_form.html.twig', { form: form,  button: 'Editer'}) }}
    </div>
{% endblock %}