<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{path('servant.show', {id: servant.id})}}"></a>
            {{servant.name}}
        </h5>
        <p class="card-text">Classe : {{servant.class}}</p>
        <div class="text-danger">
            {{servant.noblephantasme}}
        </div>
    </div>
</div>