<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{path('servant.show', {id: master.id})}}"></a>
			{{master.name}}
		</h5>
		<p class="text-danger">Classe :
			{{master.magictype}}</p>
	</div>
</div>
